.image{
  width: 150px;
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
}

.article-list{
  border-radius: 1px;
  border-bottom: gray solid 1px;
  margin-bottom: 5px;
  background-color: lightgray;
}
