<div class="container bg-light">
  <h1>Create new article</h1>
  <form [formGroup]="articleForm" (ngSubmit)="save()">
    <div class="form-group">
      <label for="inputCode">Code</label>
      <input id="inputCode" class="form-control" formControlName="code" type="text" aria-describedby="codeHelp">
      <small id="codeHelp" class="form-text text-muted">i.e: example@mail.com</small>
    </div>

    <div class="form-group">
      <label for="textAreaDescription">Description</label>
      <textarea id="textAreaDescription" class="form-control" formControlName="description" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="selectCategory">Category</label>
      <select id="selectCategory" class="custom-select" (change)="changeCategory($event)">
        <option selected disabled [value]="-1">Choose a category</option>
        <option *ngFor="let category of categories; let i = index" [value]="i">{{category.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputImage">Image</label>
      <input id="inputImage" class="form-control-file" type="file" (change)="onImageChanges($event)">
      <img [src]="imageBase64" class="image">
    </div>

    <div class="form-group">
      <label for="inputAmountToOrder">Amount to order</label>
      <input id="inputAmountToOrder" class="form-control" formControlName="AmountToOrder" type="text">
    </div>

    <div class="form-group">
      <label for="inputOrderPoint">Order point</label>
      <input id="inputOrderPoint" class="form-control" formControlName="orderPoint" type="text">
    </div>

    <div class="form-group">
      <label for="inputStock">Stock</label>
      <input id="inputStock" class="form-control" formControlName="stock" type="text">
    </div>

    <div class="form-group" formGroupName="price">
      <label for="inputPrice">Price</label>
      <input id="inputPrice" class="form-control" formControlName="value" type="text">
    </div>

    <div class="form-group" formArrayName="providers">
      <label for="selectProviders">Providers</label>
      <select  multiple id="selectProviders" class="custom-select" (change)="changeProviders($event)">
        <option selected disabled [value]="-1">Choose one or more providers</option>
        <option *ngFor="let provider of providers; let i = index" [value]="i">{{provider.businessName}}</option>
      </select>
    </div>

    <button class="btn btn-primary" [disabled]="!articleForm.valid" type="submit">Create Article</button>
  </form>
</div>
