.body{
    padding: 1rem;
}
.menu{
    background: #F76776;
    position: absolute;
    top: 64px;
    width: 100%;
    overflow: hidden;
    transition: height .3s ease-in-out;
    padding: 0 1rem;
}