.navbar{
    background: #F76776;
    color:#ffffff;
    padding: 0.5rem 1rem;
    display:flex;
    height: 64px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    
}

.menu{
    background: #F76776;
    position: fixed;
    top: 64px;
    width: 100%;
    overflow: hidden;
    transition: height .3s ease-in-out;
    /*padding: 0 1rem;*/
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;

}

.menu_top, .menu_bottom{
    width: 100%;
}


.horizontal_avatar{
    display:flex;
    align-items: center;
}

.horizontal_avatar span{
    margin: 0 0.5rem;
    font-size: 0.9rem;
}

.horizontal_avatar:hover{
    cursor: pointer;
}

.vertical_avatar{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.vertical_avatar h4{
    margin-top:0.3rem;
    color: #FFFFFF;
}

.navbar .loginButton{
    background:"red",
}
