<div class="container-fluid">
  <div class="row">
    <div *ngFor="let category of categories"
      class="card mb-2 mx-1 hover-zoom hover-shadow"

      [ngClass]="{
        'col-5': gridView,
        'col-sm-5': gridView,
        'col-md-4': gridView,
        'col-lg-4': gridView,
        'col-xl-3': gridView,
        'col-12': !gridView
      }">
      <div class="row">
        <div class="col-12 bg-dark image rounded-circle"
          [ngClass]="{
            'col-sm-3': !gridView,
            'col-md-3': !gridView,
            'col-lg-2': !gridView,
            'col-xl-2': !gridView
          }">
          <img class="image rounded-circle" [src]="category.urlImage" [alt]="category.name">
        </div>
        <div class="col-12"
          [ngClass]="{
            'col-sm-9': !gridView,
            'col-md-9': !gridView,
            'col-lg-10': !gridView,
            'col-xl-10': !gridView
          }">
          <div class="card-body">
            <h5 class="card-title"
              [routerLink]="['/categories', category.name]">
              {{category.name}}
            </h5>
            <p class="card-text"
              [routerLink]="['/categories', category.name]">
              {{category.description}}
            </p>
            <p class="card-text"><small class="text-success">Best seller</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-carousel [data]="categories"></app-carousel>
