.spinner-container, .not-results-container {
    margin: 20px auto;
    text-align: center;
    background-color: #efebdd;
}

.mat-spinner {
    margin: 0 auto;
    margin-bottom: 15px;
}

.not-results-container {
    background-color: lightskyblue;
}

.container {
    margin: 10px;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}