<nav class="navbar navbar-expand navbar-dark bg-header sticky-top pb-0 pt-3 container-fluid">
  <a class="navbar-brand" href="home">Cleanning Supplies</a>

  <form class="form-inline ml-nav-25 d-block w-50">
    <div class="input-group">
      <label class="sr-only" for="inlineFormInputSearch">Search</label>
      <input type="text" class="form-control rounded-left form-header-border" aria-describedby="btnSubmitAddon" id="inlineInputGroupSearch" placeholder="Search articles">

      <div class="input-group-append">
        <button id="btnSubmitAddon" type="button" class="bg-addon btn btn-outline-secondary">
          <i class="fa fas fa-search"></i>
          <!-- <span class="ml-1">Search</span> -->
        </button>
      </div>
    </div>
  </form>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-header font-weight-bold sticky-top  pl-6 pb-3 pt-3 pr-6 container-fluid">
  <ul class="nav nav pills my-auto ml-25">
    <li><a class="nav-link text-light" routerLink="home">Home</a></li>
    <li><a class="nav-link text-light" routerLink="categories">Categories</a></li>
    <li><a class="nav-link text-light" routerLink="noimplemented">History</a></li>
    <li><a class="nav-link text-light" routerLink="noimplemented">Offers</a></li>
  </ul>
</nav>
<app-ng-dynamic-breadcrumb
  [bgColor]="'#444'"
  [fontColor]="'#fff'"
  [lastLinkColor]="'#fff'">
</app-ng-dynamic-breadcrumb>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>

    <!-- Section: Links -->
    <section class="">
      <div class="row">

        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
          </ul>
        </div>

      </div>
    </section>
  </div>
</footer>
