<h1>Nueva vacante</h1>

<form class="example-form">
  
  <table class="example-full-width" cellspacing="0">
    <tr>
      
      <td class="cell">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label for="work_position">Cargo</mat-label>
          <input matInput autocomplete="off" name="work_position" id="work_position" [(ngModel)]="vacant.cargo" required>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="outline">
          <mat-label for="id_company">Empresa</mat-label>
          <mat-select name="id_company" id="id_company" [(ngModel)]="vacant.id_empresa" required>
            <mat-option *ngFor="let company of companies" [value]="company.id_empresa">
              {{company.razon_social}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>

    </tr>
  </table>
  
  <div>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label for="vacant_description">Descripción del cargo</mat-label>
      <textarea matInput name="vacant_description" id="vacant_description" [(ngModel)]="vacant.descripcion"></textarea>
    </mat-form-field>
  </div>

  <h2>Requerimientos del cargo</h2>
  
  <div class="flex">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label for="requirement">Descripción del requerimiento</mat-label>
      <input matInput autocomplete="off" name="requirement" id="requirement" [(ngModel)]="requirement.descripcion">
    </mat-form-field>  

    <div class="flex-button">
      <button class="button" type="button" mat-mini-fab matTooltip="Agregar requerimiento" (click)="addRequirement()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>


  <mat-grid-list cols="4" rowHeight="50px" *ngIf="vacant.requerimientos.length === 0">
    <mat-grid-tile
        [colspan]="4"
        [rowspan]="1">
      Aún no hay requerimientos para esta vacante
    </mat-grid-tile>
  </mat-grid-list>
  
  <table mat-table [dataSource]="requirements" class="mat-elevation-z3 table" *ngIf="vacant.requerimientos.length > 0">
      
    <ng-container matColumnDef="Nro">
      <th mat-header-cell *matHeaderCellDef> Nro. </th>
      <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
    </ng-container>
    
    <ng-container matColumnDef="Descripción del requerimiento">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Descripción del requerimiento </th>
      <td mat-cell *matCellDef="let requirement" style="text-align: center;"> {{ requirement.descripcion }} </td>
    </ng-container>
    
    <ng-container matColumnDef="Acción">
      <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Accion </th>
      <td mat-cell *matCellDef="let i = index" style="text-align: right;"> 
        <button mat-icon-button color="warn" matTooltip="Eliminar requerimiento" aria-label="Example icon button with a delete icon" (click)="removeRequirement(i)">
          <mat-icon>delete</mat-icon>
        </button> 
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <div class="example-button-row">
    <button mat-raised-button type="button" (click)="cancel()">Cancelar</button>
    <button mat-raised-button style="margin-right: 0;" color="primary" (click)="addNewVacant()">
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>

</form>
