<div class="container">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Linkedin't</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" 
      [mode]="'side'" [opened]="(isHandset$ | async) === false">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'vacantes'">Vacantes</a>
        <a mat-list-item [routerLink]="'vacantes/nueva-vacante'">Nueva vacante</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
