/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 300px; //height of the footer
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  height: 224px;
  width: 100%;
}

.hover-zoom:hover {
  transform: scale(1.1);
  transition: .2s;
}

.hover-shadow:hover {
  box-shadow: 15px 15px 30px rgba($color: #000000, $alpha: 0.4);
  transition: .2s;
  z-index: 1;
}

*[ng-reflect-router-link]:hover {
  cursor: pointer;
  text-decoration: underline solid #000 1px;
}
